{% extends 'base.html.twig' %}

{% block body %}
    <h1>Afficher les Informations de l'Avion {{ avion.libelle }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avion.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ avion.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ avion.libelle }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ avion.modele }}</td>
            </tr>
            <tr>
                <th>Nbrplaces</th>
                <td>{{ avion.nbrPlaces }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if avion.createdAt %}{{ avion.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if avion.updatedAt %}{{ avion.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ avion.etat }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ avion.statut }}</td>
            </tr>
            <tr>
                <th>Isvisible</th>
                <td>{% if avion.isVisible %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('avion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('avion_edit', { 'id': avion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
